<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <a class="navbar-brand" href="#">CURD</a>
  <ul class="navbar-nav text-right">
    <li class="nav-item active">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
  </ul>
</nav>


<!-- <router-outlet></router-outlet> -->

<!-- <!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
</head>
<body>
  <textarea>Next, use our Get Started docs to setup Tiny!</textarea>
</body>
</html> -->